<footer class="footer-layout">
    <div>
        <h3>Based in</h3>
        <p>Atlanta, GA</p>
        <img src="/img/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted" />
    </div>

    <div>
        <h3>Links</h3>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/reviews">reviews</a></li>
        </ul>
    </div>
</footer>
</body>
</html>