<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/reviews.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/create-review.css" rel="stylesheet">
    <link href="/css/business-reviews.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/js/scripts.js"></script>
</head>
<body>