<header>
    <div class="header-logo">
        <a href="/"><img src="/img/header-logo.png" alt="the connect logo; black background with cream and blue text color" /></a>
    </div>

    <nav class="navbar">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/reviews">reviews</a>
                    <!-- <div class="dropdown">
                        <button class="dropbtn">
                        <i class="fa fa-caret-down"></i>
                        </button>
                    <div class="dropdown-content">
                        <a href="/category-food">food</a>
                        <a href="/category-retail">retail</a>
                    </div>
                    </div> categories are being coded out temporarily, but will be added back later in a features section. -->
                </li>
            </ul>
    </nav>
</header>
<hr>