* {
    box-sizing: border-box;
}

.admin-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.admin-div {
    width: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--haint-blue);
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.admin-div h2 {
    text-decoration: 5px solid underline var(--haint-blue);
}

.admin-div a {
    text-decoration: none;
    color: var(--off-black);
}

.logout-btn {
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}

.logout-btn a {
    text-decoration: none;
    color: var(--off-black);
}

.admin-div button {
    font-size: 90%;
    border: none;
    font-family: var(--body-font);
    background-color: var(--haint-blue);
    margin: 3%;
    padding: 3%;
    text-align: center;
    width: 50%;
}

.logout-btn button {
    border: none;
    font-family: var(--body-font);
    background-color: var(--haint-blue);
    margin: 2%;
    padding: 2%;
    font-size: 90%;
    text-align: center;
    width: 20%;
}

.redirect {
    border: none;
    font-family: var(--body-font);
    background-color: var(--haint-blue);
    margin: 2%;
    padding: 2%;
    font-size: 90%;
    width: 35%;
    text-align: center;
    display: flex;
    justify-content: center;

}

.flex-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-btn button a {
    text-decoration: none;
    color: var(--off-black);
    background-color: var(--haint-blue);
}

.div-width {
    width: 90%;
    margin: 2%;
}

.change-table {
    width: 100%;
    padding-top: 3% ;
    padding-bottom: 5%;
    
}

.rating {
    text-align: center;
}

.query-change-size {
    margin: auto;
    display: block;
    background-color: var(--off-black);
    color: var(--star-white);
    font-family: var(--body-font);
    border-radius: 2px;
    border: none;
}

.change-review {
    padding-left: 5%;
    padding-right: 5%;
}

#protected-button {
    color: var(--off-black);
}

@media screen and (max-width: 768px) {
    .admin-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .query-change-size {
        width: 100%;
        margin: auto;
        padding: 0;
    }
}