/* Login form CSS */
h1, h2{
    text-align: center;
}

.google-btn {
    border: none;
    font-family: var(--body-font);
    background-color: var(--haint-blue);
    margin: 3%;
    padding: 2%;
    font-size: 80%;
    text-align: center;
    width: 50%;
}

.container-login {
    border: 5px solid var(--off-black);
    width: 80%;
    margin: auto;
    padding: 2% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-login div {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.container-login a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--off-black);
    padding: 1%;
}

.container-login a:hover {
    text-decoration: none;
    color: var(--star-white);
    background-color: var(--off-black);
}

.container-login input[type='text'], input[type='password'] {
    width: 30%;
    border: none;
    border-bottom: 3px solid var(--off-black);
    background-color: var(--star-white);
}

.container-login button[type='submit'] {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
}

.highlight a {
    background-color: var(--haint-blue);
}

#centered {
    text-align: center;
}

#centered button a:hover {
    text-decoration: none;
    color: var(--star-white);
    background-color: var(--off-black);
    padding: 1%;
}

.create-button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    color: var(--off-black);
    padding: 1%;
    margin: auto;
}

#center-create {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
}

/* Create account CSS */
.signupForm-flex {
    border: 5px solid var(--haint-blue);
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    padding: 2% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupForm-flex input[type='text'], input[type='password'] {
    width: 30%;
    border: none;
    border-bottom: 3px solid var(--off-black);
    background-color: var(--star-white);
}

.signupForm-flex div {
    padding-top: 1%;
    padding-bottom: 1%;   
}

.signupForm-flex a {
    text-decoration: 3px underline var(--haint-blue);
    color: var(--off-black);
    
}

.signupForm-flex a:hover {
    text-decoration: none;
    color: var(--star-white);
    background-color: var(--off-black);
    padding: 1%;
}

.signupForm-flex button[type='submit'] {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
}

.submit-css {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    color: var(--off-black);
    padding: 1%;
    margin: auto;
}