/* Reviews Header/Top Section */
h1 {
    text-align: center;
    text-decoration: 5px solid underline var(--haint-blue);
}

h3, p {
    text-align: center;
}

.category-links {
    text-align: center;
}

.category-links div {
    margin: 1%;
}

.category-links a:link, a:visited, a:active {
    text-decoration: underline 3px var(--haint-blue);
    color: var(--off-black);
}

.category-links a:hover {
    background-color: var(--off-black);
    color: var(--star-white);
    font-size: 105%;
    padding: 1%;
}

.button-center {
    text-align: center;
}

.reviews-button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%; 
    text-align: center;
    width: 30%;
}


/* Actual reviews with images and buttons */
.gallery-flex {
    display: flex;
}

div.gallery {
    border: 7px solid var(--haint-blue);
    padding: 1%;
    margin: 5%;
    width: 40%;
}

div.gallery img {
    width: 100%;
    margin-top: 1%;
}

div.gallery-desc {
    border: solid 5px var(--off-black);
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#adjust-p {
    padding-bottom: 4%;
}

.more-button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 5%; 
    text-align: center;
    width: 30%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .gallery-flex {
        flex-direction: column;
        align-items: center;
    }
}
