<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>


<section>

    <h1>Welcome to your Connect console.</h1>
    
    <hr>
</section>

<section class="admin-flex">

    <div class="admin-div">
        <h2>Business</h2>
        <p>Don't see a business you want to review? Not to worry! You can add a business by completing the form. All you need to do is click the button!</p>
        <button><a href="/admin/create-business">Add Business</a></button>
    </div>

    <div class="admin-div">
        <h2>Review</h2>
        <p>Ready to create a review for a listed business? Click the button to fill out the form and submit a review.</p>
        <button><a href="/admin/create-review">Create Review</Form></a></button>
    </div>

</section>

<div class="logout-btn">

    <button ><a href="/admin/logout">Logout</a></button>

</div>

<%- include('../partials/footer') -%>