<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <main>
        <section>
            <h1>Food</h1>
            <p>Yummy in your tummy, check out the reviews for black-owned food spots!</p>
            <p>You can check out the retail category by clicking the <a href="/category-retail">retail</a> link.</p>
            <div class="button-center">
                <button class="reviews-button"><a href="/create-review">Create a Review</a></button>
            </div>
        </section>
    <hr>

    <section class="gallery-flex">
        <div class="gallery">
            <img src="/img/slutty-vegan.jpeg" alt="a slutty vegan meal displayed on a wooden table with a red slutty vegan sign in the background">
            <img src="/img/slutty-vegan-arm.jpg" alt="an arm holding a sandwich in front of a red slutty vegan sign">
            <img src="/img/pinky-hold-sandwich.jpeg" alt="a person with red dreadlocks holding a slutty vegan sandwich that is dripping sauce or cheese">
            <div class="gallery-desc">
                <h2>Slutty Vegan</h2>
                    <h3>Rating: 5/5</h3>
                    <p>To view the full review, you can open the <a href="/review-slutty-vegan">review page</a> for Slutty Vegan.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="button-center">
            <button class="more-button" type="button">More reviews...</button>
       </div> 
    </section>

    </main>

<%- include('../partials/footer') -%>