<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<main>
        <section>
            <h1>Retail</h1>
            <p>Bills, bills, bills! We're not worried about those when we're buying items at these black-owned busineses.</p>
            <p>You can check out the retail category by clicking the <a href="/category-food">food</a> link.</p>
            <div class="button-center">
                <button class="reviews-button"><a href="/create-review">Create a Review</a></button>
            </div>
        </section>
    <hr>
        <section>
            <div class="gallery">
                <img src="/img/n-b-tacos.jpeg" alt="picture of pork tacos with sauce and sliced radish on the side with the nourish and bloom logo above">
                <img src="/img/n-b-aisle.jpeg" alt="picture of the nourish and bloom snack aisle">
                <div class="gallery-desc">
                    <h2>Nourish + Bloom Market</h2>
                        <h3>Rating: 5/5</h3>
                        <p id="adjust-p">To view the full review, you can open the <a href="/review-nourish-and-bloom">review page</a> for Nourish + Bloom.</p>
                </div>
            </div>
        </section>

        <section>
            <div class="button-center">
                <button class="more-button" type="button">More reviews...</button>
           </div> 
        </section>
    </main>

<%- include('../partials/footer') -%>