<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<main>
    <section class="business-review">
        <h1>Successfully Submitted!</h1>
            <div>
                <p>Thanks for your form submission! You can view your review under the business you reviewed or head back to the console to add more (if the spirit so moves you).</p>
            </div>
    </section>

    <section>
        <div class="flex-btn">
            <button class="redirect">
                <a href="/reviews">Back to Reviews</a>
            </button >
            <button class="redirect">
                <a href="/admin">Back to Admin Console</a>
            </button>
        </div>
    </section>
</main>

<%- include('../partials/footer') -%> 