<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<main>
    <section class="heading">
        <h1>Write a Review</h1>
        <div id="centered-v1">
            <button type="button"><a href="/reviews">Back to Reviews</a> 
            </button>
            <button type="button"><a href="/admin">Back to Admin Console</a></button>
        </div>
    </section>
        <hr>
    <section>
        
        <form class="business-review" action="/admin/create-review" method="POST">
            
             <!-- <div class="name-section">
                    <label for="name">Your Name :</label>
                    <input type="text" id="name">
                </div> removing the name section (unnecessary)-->

        <section>
            <div class="business-section">
                <div>
                    <label for="business_name">Business Name:</label> 
                    <input type="text" id="business_name" name="business_name" minlength="1" required />
                </div> 

                <div>
                    <label for="business_address">Business Address:</label>
                    <input type="text" id="business_address" name="business_address" minlength="5" placeholder="Ex. 123 Main St. New York, NY 10001" required />
                </div>

                <div>
                    <label for="business_website">Business Website:</label>
                    <input type="text" id="business_website" name="business_website" />
                </div>

                <div>
                    <label for="category"> What category is this business under? Food or retail.</label>
                        <select name="category" id="category" required >
                            <option value="">--</option>
                            <option value="food">Food</option>
                            <option value="retail">Retail</option>
                        </select>
                </div>
            </div>

        <section>
            <div class="business-section">
                <div>
                    <label for="rating">What would you rating this business?</label>
                    <input type="number" id="rating" name="rating" min="1" max="5" required />
                </div>

                <div>
                    <label for="review_title">Review Title:</label>
                    <input type="text" id="review_title" name="review_title" maxlength="50" required />
                </div>

                <div>
                    <label for="review_blurb">Review Blurb: </label>
                    <textarea id="review_blurb" name="review_blurb" rows="5" cols="30" maxlenght="500" placeholder="Your blurb goes here... 500 characters max" minlength="50" maxlength="500" required ></textarea>
                </div>
            
                <div>
                    <label for="recommend">
                        Would you recommend this business? Select yes or no. 
                        <select name="recommend" id="recommend" required >
                            <option value="">--</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </label>
                </div>

              </div>
        </section>
            
            <!-- <div class="subheading">
                <label for="img">Upload images:</label>
                <input type="file" id="img" name="img" accept="image/" multiple>
            </div> -->
            
            <div>
                <div class="subheading">
                    <!-- <p>By submitting this review, you agree to our <a href="#">Terms & Privacy Agreement</a>.</p> -->
                    <div id="centered-v2">
                        <button type="submit" value="submit">Submit Review</button>
                    </div>
                </div>
            </div>
            
        </form>
      </section>
    <section class="social-media">
            <h2>Share on social media!</h2>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
    </section>
    </main>

<%- include('../partials/footer') -%>