<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<main>
    <section class="heading">
        <h1>Write a Review</h1>
        <div id="centered-v1">
            <button type="button"><a href="/reviews">Back to Reviews</a> 
            </button>
        </div>
    </section>
        <hr>
    <section>
        
        <form action="/admin/" method="">
            
        <div class="business-review">
             <!-- <div class="name-section">
                    <label for="name">Your Name :</label>
                    <input type="text" id="name">
                </div> removing the name section (unnecessary)-->

        <section>
                <div class="business-section">
                <!-- <div>
                    <label for="businessname">Business Name :</label> 
                    <input type="text" id="businessname" name="businessname">
                </div> -->

                <div>
                    <label>
                    What would you rating this business? 
                    </label>
                        <select>
                        <option value="">--</option>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                        </select>
                </div>
                </div>
        </section>

        <section>
            <div class="business-section">
                <div>
                    <label for="title">Review Title :</label>
                    <input type="text" id="title"> 
                </div>

                <div>
                   <label for="thecomment">My Review :</label>
                    <textarea id="thecomment" name="thecomment" rows="5" cols="30" maxlength="1000" placeholder="Your comments go here... 1000 characters max"></textarea>
                </div>
                
                <div>
                    <label>
                        Would you recommend this business? Select yes or no. 
                        <select>
                            <option value="">--</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </label>
                </div>
              </div>
        </section>
    
            
            <!-- <div class="subheading">
                <label for="img">Upload images:</label>
                <input type="file" id="img" name="img" accept="image/" multiple>
            </div> -->
            
            <div>
                <div class="subheading">
                    <!-- <p>By submitting this review, you agree to our <a href="#">Terms & Privacy Agreement</a>.</p> -->
                    <div id="centered-v2">
                        <button type="submit" value="submit">Submit Review</button>
                    </div>
                </div>
            </div>
            
        </form>
    </section>
    <section class="social-media">
            <h2>Share on social media!</h2>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
    </section>
    </main>

<%- include('../partials/footer') -%>