<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link href="/public/styles/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/public/scripts/scripts.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/views/pages/index.html"><img src="/public/images/header-logo.png" alt="the connect logo; black background with cream and blue text color"></a>
        </div>

        <nav class="navbar">
                <ul>
                    <li><a href="/views/pages/index.html">home</a></li>
                    <li><a href="/views/pages/login.html">login</a></li>
                    <li><div class="dropdown">
                    <button class="dropbtn"><a href="/views/pages/reviews.html">reviews</a>
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a href="/views/pages/categories-food.html">food</a>
                            <a href="/views/pages/categories-retail.html">retail</a>
                        </div>
                    </div></li>
                </ul>
        </nav>
    </header>
    <hr>
    <main>
         <h1><span class="highlight">Write a Review</span></h1>
        <section class="overall-create">
         <form>
            <div class="intro-form">
            <label for="name">Your Name:</label>
            <input type="text" id="name">

            <label for="businessname">Business Name:</label> 
            <input type="text" id="businessname" name="businessname">
            
                <label>
                    What would you rating this business? </label>
                    <select>
                        <option value="">--</option>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
            </div>

            <div class="review-info">
            <label for="title">Review Title:</label>
            <input type="text" id="title">

            <label for="thecomment">My Review:</label>
            <textarea id="thecomment" name="thecomment" rows="4" cols="20" placeholder="Your comments go here..."></textarea>

            <label>
                Would you recommend this business? Select yes or no. 
                <select>
                  <option value="">--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </label>

            <label>
                What category is this business under? Food or retail.
                <select>
                    <option value="">--</option>
                    <option value="food">Food</option>
                    <option value="retail">Retail</option>
                </select>
            </label>
            </div>
            
            <label for="img">Upload images:</label>
            <input type="file" id="img" name="img" accept="image/">
            <section class="agreement">
                <p>By submitting this review, you agree to our <a href="#">Terms & Privacy Agreement</a>.</p>
            </section>
            <div class="review-submit">
                
            <button type="submit" value="submit">Submit Review</button>
            </div>
        </form>
        </section>
        <section class="social-media">
            <h2>Share on social media!</h2>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </section>
    </main>
    <footer class="footer-layout">
        <div>
            <h3>Based in</h3>
            <p>Atlanta, GA</p>
            <img src="/public/images/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted">
        </div>

        <div>
            <h3>Links</h3>
            <ul>
                <li><a href="/views/pages/index.html">home</a></li>
                <li><a href="/views/pages/login.html">login</a></li>
                <li><a href="/views/pages/reviews.html">reviews</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>