<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link href="/public/styles/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/public/scripts/scripts.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/views/pages/index.html"><img src="/public/images/header-logo.png" alt="the connect logo; black background with cream and blue text color"></a>
        </div>

        <nav class="navbar">
                <ul>
                    <li><a href="/views/pages/index.html">home</a></li>
                    <li><a href="/views/pages/login.html">login</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn"><a href="/views/pages/reviews.html">reviews</a>
                            <i class="fa fa-caret-down"></i>
                            </button>
                        <div class="dropdown-content">
                            <a href="/views/pages/category-food.html">food</a>
                            <a href="/views/pages/category-retail.html">retail</a>
                        </div>
                        </div>
                    </li>
                </ul>
        </nav>
    </header>
    <hr>
        <section class="top-bottom">
            <div class="logo-adjust">
                <img src="/public/images/logo-square.png" alt="the connect logo with the slogan: your connection to black-owned businesses; black background with cream and blue text color">
            </div>
            <div class="about-adjust">
                <h1>welcome to the connect</h1>
                    <p><span>the connect</span> is your connection to black-owned businesses in the Atlanta (and surrounding) area. You can access reviews and write reviews about your experiences at these businesses.</p>
            
                <h2>categories</h2>
                    <p>Expand each category to view and access specifics.</p>
                        <details>
                            <summary>Good eats + Good times</summary>
                                <p>If you didn't guess by now, this category is about all things food. From quick bites to sitting down at a table for a gastronomical experience.</p>
                                <p>View the businesses under food, check out our <a href="/views/pages/categories-food.html">food category</a>.</p>
                        </details>
                        <details>
                            <summary>Time to shop!</summary>
                                <p>This category is all about spending that check in the best way. You will find a whole host of businesses that you can spend your money on and get a lovely product in return.</p>
                                <p>To view the businesses under retail, check out our <a href="/views/pages/categories-retail.html">retail category</a>.</p>
                        </details>
            </div>
        </section>
    <hr>
       <h1 class="centered">feature of the month</h1> 
       <section class="top-bottom">
            <div class="feature-img">
                    <img src="/public/images/slutty-vegan-dark.png" alt="the slutty vegan logo; red letters with black outline and white background">
                    <img src="/public/images/sv-pinky-book.jpeg" alt="the eat plants b*tch recipe book written by pinky cole, owner and founder of slutty vegan, pinky cole">
                </div>
            <div class="feature-content">
                <h2>Slutty Vegan</h2>
                    <p class="italic">"Slutty Vegan brings vegan options and food awareness to the communities they serve. Also, they open the conversation about vegan food being an option for people in a community plagued by hypertension, cholesterol, obesity, and food-borne illness."</p>
                    <p>- Slutty Vegan ATL, 2023 </p>
                    <p>You can learn more or view a menu at the <a href="https://sluttyveganatl.com/">Slutty Vegan website</a>.</p>
                </div>
        </section>
    
    <footer class="footer-layout">
        <div>
            <h3>Based in</h3>
            <p>Atlanta, GA</p>
            <img src="/public/images/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted">
        </div>

        <div>
            <h3>Links</h3>
            <ul>
                <li><a href="/views/pages/index.html">home</a></li>
                <li><a href="/views/pages/login.html">login</a></li>
                <li><a href="/views/pages/reviews.html">reviews</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>