<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

        <section class="top-bottom">
            <div class="logo-adjust">
                <img src="/img/logo-square.png" alt="the connect logo with the slogan: your connection to black-owned businesses; black background with cream and blue text color">
            </div>
            <div class="about-adjust">
                <h1>welcome to the connect</h1>
                    <p><span>the connect</span> is your connection to black-owned businesses in the Atlanta (and surrounding) area. You can access reviews and write reviews about your experiences at these businesses.</p>
            
                <h2>categories</h2>
                    <p>Expand each category to view and access specifics.</p>
                        <details>
                            <summary>Good eats + Good times</summary>
                                <p>If you didn't guess by now, this category is about all things food. From quick bites to sitting down at a table for a gastronomical experience.</p>
                                <!-- <p>View the businesses under food, check out our <a href="/categories-food">food category</a>.</p> -->
                        </details>
                        <details>
                            <summary>Time to shop!</summary>
                                <p>This category is all about spending that check in the best way. You will find a whole host of businesses that you can spend your money on and get a lovely product in return.</p>
                                <!-- <p>To view the businesses under retail, check out our <a href="/categories-retail">retail category</a>.</p> -->
                        </details>
            </div>
        </section>
    <hr>
       <h1 class="centered">feature of the month</h1> 
       <section class="top-bottom">
            <div class="feature-img">
                    <img src="/img/slutty-vegan-dark.png" alt="the slutty vegan logo; red letters with black outline and white background" />
                    <img src="/img/sv-pinky-book.jpeg" alt="the eat plants b*tch recipe book written by pinky cole, owner and founder of slutty vegan, pinky cole" />
                </div>
            <div class="feature-content">
                <h2>Slutty Vegan</h2>
                    <p class="italic">"Slutty Vegan brings vegan options and food awareness to the communities they serve. Also, they open the conversation about vegan food being an option for people in a community plagued by hypertension, cholesterol, obesity, and food-borne illness."</p>
                    <p>- Slutty Vegan ATL, 2023 </p>
                    <p>You can learn more or view a menu at the <a href="https://sluttyveganatl.com/">Slutty Vegan website</a>.</p>
                </div>
        </section>
    
<%- include('../partials/footer') -%>