<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link href="/public/styles/styles.css" rel="stylesheet">
    <link href="/public/styles/forms.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/public/scripts/scripts.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/views/pages/index.html"><img src="/public/images/header-logo.png" alt="the connect logo; black background with cream and blue text color"></a>
        </div>

        <nav class="navbar">
                <ul>
                    <li><a href="/views/pages/index.html">home</a></li>
                    <li><a href="/views/pages/login.html">login</a></li>
                    <li><div class="dropdown">
                    <button class="dropbtn"><a href="/views/pages/reviews.html">reviews</a>
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a href="/views/pages/category-food.html">food</a>
                            <a href="/views/pages/category-retail.html">retail</a>
                        </div>
                    </div></li>
                </ul>
        </nav>
    </header>
    <hr>
    <main>
        <h1>Login</h1> 
            <!-- https://www.tutorialspoint.com/How-to-hide-HTML-element-with-JavaScript (for showing and hiding elements with a button)  -->
            
            <!--Form pseudocode/layout with hidden signup form  -->
        <div>
            <form class="container-login">
                <div>
                    <label for="uname">Username:</label> 
                    <input type="text" placeholder="Enter Username" name="uname">
                </div>

                <div>
                    <label for="psw">Password:</label>
                    <input type="password" placeholder="Enter Password" name="psw">
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>

                <div class="highlight">
                    <a href="">Forgot password?</a>
                </div>
                
                <div>
                    <label for="rembember">Remember me?</label>
                    <input type="checkbox" name="remember">  
                </div>
            </form>
        </div>

        <div id="center-create">
            <button class="create-button" onclick="createAccount()">Click the button to create an account.</button>
        </div>

        <section>
            <form id="signupForm" class="signupForm-flex">
                <h2>Create an account</h2>
                    <div>
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname" placeholder="First name">
                    </div>

                    <div>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname" placeholder="Last name">
                    </div>
                    
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" placeholder="Enter Email address" name="email">
                    </div>
                    
                    <div>
                        <label for="uname">Username:</label> 
                        <input type="text" placeholder="Enter Username" name="uname"> 
                    </div>

                    <div>
                        <label for="psw">Password:</label>
                        <input type="password" placeholder="Enter password" name="psw">
                    </div>

                    <div>
                        <label for="psw-repeat">Repeat Password:</label>
                        <input type="password" placeholder="Repeat password" name="psw-repeat">
                    </div>

                    <div>
                        <p>By creating an account, you agree to our <a href="#">Terms & Privacy Agreement</a>.</p>
                    </div>

                    <div id="centered">
                        <button type="submit" value="Submit">Submit</button>
                    </div>
            </form>
        </section>
    </main>
    <footer class="footer-layout">
        <div>
            <h3>Based in</h3>
            <p>Atlanta, GA</p>
            <img src="/public/images/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted">
        </div>

        <div>
            <h3>Links</h3>
            <ul>
                <li><a href="/views/pages/index.html">home</a></li>
                <li><a href="/views/pages/login.html">login</a></li>
                <li><a href="/views/pages/reviews.html">reviews</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>