<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<main>
        <h1>Login</h1> 
            <!-- https://www.tutorialspoint.com/How-to-hide-HTML-element-with-JavaScript (for showing and hiding elements with a button)  -->
            
            <!--Form pseudocode/layout with hidden signup form  -->
        <div>
            <form action="/login" method="POST" class="container-login">
                <div>
                    <label for="uname">Username:</label> 
                    <input type="text" placeholder="Enter Username" name="username" required />
                </div>

                <div>
                    <label for="psw">Password:</label>
                    <input type="password" placeholder="Enter Password" name="password" required />
                </div>

                <div>
                    <button class="google-btn">
                        <a href="/login/auth/google">
                            <i class="fab fa-google"></i> Login with Google
                        </a>
                    </button>
                </div>

                <div>
                    <button type="submit"><a href="/admin">Submit</a></button>
                </div>

                <!-- <div class="highlight">
                    <a href="">Forgot password?</a>
                </div> -->
                
                <!-- <div>
                    <label for="rembember">Remember me?</label>
                    <input type="checkbox" name="remember">  
                </div> -->

            </form>
        </div>

        

        <div id="center-create">
            <button class="create-button" onclick="createAccount()">Click the button to create an account.</button>
        </div>

        <section>
            <form action="/login/register" method="POST" id="signupForm" class="signupForm-flex">
                <h2>Create an account</h2>
                <p>Please complete the form to create an account. It's free!</p> 
                
                    <!-- <div>
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname" placeholder="First name">
                    </div>

                    <div>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname" placeholder="Last name">
                    </div> -->
                    
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" placeholder="Enter Email address" name="username">
                    </div>
                    
                    <!-- <div>
                        <label for="uname">Username:</label> 
                        <input type="text" placeholder="Enter Username" name="uname"> 
                    </div> -->

                    <div>
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter password" name="password">
                    </div>

                    <!-- <div>
                        <label for="psw-repeat">Repeat Password:</label>
                        <input type="password" placeholder="Repeat password" name="psw-repeat">
                    </div> -->

                    <!-- <div>
                        <p>By creating an account, you agree to our <a href="#">Terms & Privacy Agreement</a>.</p>
                    </div> -->

                    <div>
                        <button class="google-btn">
                            <a href="/login/auth/google">
                                <i class="fab fa-google"></i> Register with Google
                            </a>
                        </button>
                    </div>

                    <div id="centered">
                        <button type="submit" value="Submit">Submit</button>
                    </div>
            </form>
        </section>
    </main>
    
<%- include('../partials/footer') -%> 