<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <main>
        <section>
            <h1>Reviews</h1> 
                <!-- <h3>Categories</h3>
                <p>You can view reviews based on the categories. It's just one click away!</p>
                <div class="category-links">
                    <div>
                        <a href="/category-food">Eats</a>
                    </div>
                    <div>
                        <a href="/category-retail">Retail Therapy</a>
                    </div>
                </div> -->
                <p>If you don't see a business listed and want to add it to be reviewed, you can add a business using the button below.</p>
                
                <div class="button-center">
                    <button class="reviews-button"><a href="/reviews/create-business">Add a Business</a></button>
                </div>
        </section>
        <hr>
        <section class="gallery-flex">
            <div class="gallery">
                <img src="/img/slutty-vegan.jpeg" alt="a slutty vegan meal displayed on a wooden table with a red slutty vegan sign in the background">
                <img src="/img/slutty-vegan-arm.jpg" alt="an arm holding a sandwich in front of a red slutty vegan sign">
                <img src="/img/pinky-hold-sandwich.jpeg" alt="a person with red dreadlocks holding a slutty vegan sandwich that is dripping sauce or cheese">
                <div class="gallery-desc">
                    <h2>Slutty Vegan</h2>
                        <h3>Rating: 5/5</h3>
                        <p>To view the full review, you can open the <a href="/review-slutty-vegan">review page</a> for Slutty Vegan.</p>
                </div>
            </div>
    
            <!-- <div class="gallery">
                <img src="/img/n-b-tacos.jpeg" alt="picture of pork tacos with sauce and sliced radish on the side with the nourish and bloom logo above">
                <img src="/img/n-b-aisle.jpeg" alt="picture of the nourish and bloom snack aisle">
                <div class="gallery-desc">
                    <h2>Nourish + Bloom Market</h2>
                        <h3>Rating: 5/5</h3>
                        <p id="adjust-p">To view the full review, you can open the <a href="/review-nourish-and-bloom">review page</a> for Nourish + Bloom.</p>
                </div>
            </div> -->
            
            
        </section>

        <section>
            <div class="button-center">
                <button class="more-button" type="button">More reviews...</button>
           </div> 
        </section>
    </main>
 
<%- include('../partials/footer') -%>