<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link href="/public/styles/styles.css" rel="stylesheet">
    <link href="/public/styles/reviews.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/public/scripts/scripts.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/views/pages/index.html"><img src="/public/images/header-logo.png" alt="the connect logo; black background with cream and blue text color"></a>
        </div>

        <nav class="navbar">
                <ul>
                    <li><a href="/views/pages/index.html">home</a></li>
                    <li><a href="/views/pages/login.html">login</a></li>
                    <li><div class="dropdown">
                    <button class="dropbtn"><a href="/views/pages/reviews.html">reviews</a>
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a href="/views/pages/categories-food.html">food</a>
                            <a href="/views/pages/categories-retail.html">retail</a>
                        </div>
                    </div></li>
                </ul>
        </nav>
    </header>
    <hr>
    <main>
        <section>
            <h1>Reviews</h1> 
                <h3>Categories</h3>
                <p>You can view reviews based on the categories. It's just one click away!</p>
                <div class="category-links">
                    <div>
                        <a href="/views/pages/categories-food.html">Eats</a>
                    </div>
                    <div>
                        <a href="/views/pages/categories-retail.html">Retail Therapy</a>
                    </div>
                </div>
                <div class="button-center">
                    <button class="reviews-button"><a href="/views/pages/create-review.html">Create a Review</a></button>
                </div>
        </section>
        <hr>
        <section class="gallery-flex">
            <div class="gallery">
                <img src="/public/images/slutty-vegan.jpeg" alt="a slutty vegan meal displayed on a wooden table with a red slutty vegan sign in the background">
                <img src="/public/images/slutty-vegan-arm.jpg" alt="an arm holding a sandwich in front of a red slutty vegan sign">
                <img src="/public/images/pinky-hold-sandwich.jpeg" alt="a person with red dreadlocks holding a slutty vegan sandwich that is dripping sauce or cheese">
                <div class="gallery-desc">
                    <h2>Slutty Vegan</h2>
                        <h3>Rating: 5/5</h3>
                        <p>To view the full review, you can open the <a href="review-slutty-vegan.html">review page</a> for Slutty Vegan.</p>
                </div>
            </div>
    
            <div class="gallery">
                <img src="/public/images/n-b-tacos.jpeg" alt="picture of pork tacos with sauce and sliced radish on the side with the nourish and bloom logo above">
                <img src="/public/images/n-b-aisle.jpeg" alt="picture of the nourish and bloom snack aisle">
                <div class="gallery-desc">
                    <h2>Nourish + Bloom Market</h2>
                        <h3>Rating: 5/5</h3>
                        <p id="adjust-p">To view the full review, you can open the <a href="review-nourish-and-bloom.html">review page</a> for Nourish + Bloom.</p>
                </div>
            </div>
            
            
        </section>

        <section>
            <div class="button-center">
                <button class="more-button" type="button">More reviews...</button>
           </div> 
        </section>
    </main>
    <footer class="footer-layout">
        <div>
            <h3>Based in</h3>
            <p>Atlanta, GA</p>
            <img src="/public/images/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted">
        </div>

        <div>
            <h3>Links</h3>
            <ul>
                <li><a href="/views/pages/index.html">home</a></li>
                <li><a href="/views/pages/login.html">login</a></li>
                <li><a href="/views/pages/reviews.html">reviews</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>