<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the connect</title>
    <link href="/public/styles/styles.css" rel="stylesheet">
    <link href="/public/styles/business-reviews.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&family=Sanchez&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0fae524e5.js" crossorigin="anonymous"></script>
    <script defer src="/public/scripts/scripts.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/views/pages/index.html"><img src="/public/images/header-logo.png" alt="the connect logo; black background with cream and blue text color"></a>
        </div>

        <nav class="navbar">
                <ul>
                    <li><a href="/views/pages/index.html">home</a></li>
                    <li><a href="/views/pages/login.html">login</a></li>
                    <li><div class="dropdown">
                    <button class="dropbtn"><a href="/views/pages/reviews.html">reviews</a>
                        <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="dropdown-content">
                            <a href="/views/pages/categories-food.html">food</a>
                            <a href="/views/pages/categories-retail.html">retail</a>
                        </div>
                    </div></li>
                </ul>
        </nav>
    </header>
<main>
    <hr> 
    <section class="title-desc">
        <a href="/views/pages/reviews.html">Return to Reviews</a>
        <h1>Slutty Vegan</h1>
        <h3>Serving up:</h3>
            <p>Veganized American classics like burgers and fries with Southern delicacies like sweet potato pie and banana pudding.</p>
        <p>Rating: 5/5</p>
        <!-- Bold the <p> below with CSS, we need to use JS to calculate the rating from the views using the numbers in ratings box -->
    </section>
    <section class="general-info">
        
        <div class="first-box">
            <h2>General information:</h2>
            <h3>Locations:</h3>
            <table>
                <tbody>
                    <thead>
                        <th class="location">Location Name</th>
                        <th>Address</th>
                        <th>City & State</th>
                    </thead>
                    <tr>
                        <td class="location">Ralph David</td> 
                        <td>1542 Ralph David Abernathy Blvd SW </td>
                        <td>Atlanta, GA 30310</td>
                    </tr>
                    <tr>
                        <td class="location">Jonesboro</td>
                        <td>164 McDonough Street</td>
                        <td>Jonesboro, GA 30235</td>
                    </tr>
                    <tr>
                        <td class="location">Edgewood</td>
                        <td>476 Edgewood Ave SE </td>
                        <td>Atlanta, GA 30312</td>
                    </tr>
                    <tr>
                        <td class="location">Gwinnett</td>
                        <td>2045 Pleasant Hill Rd </td>
                        <td>Duluth, GA 30096</td>
                    </tr>
                    <tr>
                        <td class="location">Athens</td>
                        <td>700 Baxter Street Suite 800 </td>
                        <td>Athens, GA 30605</td>
                    </tr>
                    <tr>
                        <td class="location">Georgia Tech</td>
                        <td>351 Ferst Drive NW </td>
                        <td>Atlanta, GA 30313</td>
                    </tr>
                    <tr>
                        <td class="location">Birmingham</td>
                        <td>7 55th Place</td>
                        <td>Birmingham, AL 35212</td>
                    </tr>
                    <tr>
                        <td class="location">Brooklyn</td>
                        <td>650 Fulton Street</td>
                        <td>Brooklyn, NY 11217</td>
                    </tr>
                </tbody>
            </table>
            <p>For more information about Slutty Vegan, you can visit the <a href="https://sluttyveganatl.com/">Slutty Vegan website.</a></p>
        </div>
        
        <div class="second-box">
            <h2>What people are saying:</h2>
            <!-- The <p> is where the form's <textarea> response will display in quotations. There will be several <p> tags with different quotes from multiple reviews.  -->
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p> 
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p> 
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p> 
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p> 
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p>  
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar mauris et est efficitur, vel consectetur sapien efficitur. Etiam non consequat ligula. In lacinia eget nisi ut tincidunt."</p> 
        </div>
    </section>
        
    <section class="image-review">
        <div> 
        <h2>What the products look like</h2>
            <div class="review-images">
                <img src="/public/images/slutty-vegan.jpeg" alt="a slutty vegan meal displayed on a wooden table with a red slutty vegan sign in the background">
                <img src="/public/images/slutty-vegan-arm.jpg" alt="an arm holding a sandwich in front of a red slutty vegan sign">
                <img src="/public/images/pinky-hold-sandwich.jpeg" alt="a person with red dreadlocks holding a slutty vegan sandwich that is dripping sauce or cheese">
                <!-- These <img> tags will be displayed from the images uploaded from the create a review form. -->
            </div>

            <div class="button-center">
                <button class="more-button" type="button">More pictures...</button>
            </div>
        </div>

    </section>
    
</main>
<footer class="footer-layout">
    <div>
        <h3>Based in</h3>
        <p>Atlanta, GA</p>
        <img src="/public/images/atl-map-edit.png" alt="a map of georgia with the city of atlanta highlighted">
    </div>

    <div>
        <h3>Links</h3>
        <ul>
            <li><a href="/views/pages/index.html">home</a></li>
            <li><a href="/views/pages/login.html">login</a></li>
            <li><a href="/views/pages/reviews.html">reviews</a></li>
        </ul>
    </div>
</footer>
</body>
</html>