body {
    font-size: 2em;
}

h1 {
    padding-top: 2%;
    text-align: center;
}

.main-adjust p {
    text-align: center;
}

.highlight {
    background-color: var(--main-black);
    color: var(--head-color-text);
    padding: 2%;
    text-decoration: underline;
}

.overall-review {
    margin: 5%;
    padding: 2.5%;
    border-width: 7px;
    border-style: solid;
    border-color: var(--main-red);
}

.review-images {
    background-color: var(--main-black);
    border-width: 5px;
    border-style: solid;
    border-color: var(--main-green);
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.overall-review img {
    border-width: 3px;
    border-style: solid;
    border-color: var(--head-color-text);
    width: 40%;
    transition: transform .5s;
}

.overall-review img:hover {
    transform: scale(1.3);
}

table {
    background-color: var(--main-black);
    color: var(--head-color-text);
    width: 100%;
    text-align: center;
    
}

table, tr, td {
    border: 3px solid; 
    border-color: var(--main-green);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main a:link, 
    main a:visited {
        color: var(--main-red);
        text-decoration: none;
}

main a:hover,
    main a:active {
        font-size: 110%;
        background-color: var(--main-green);
        color: var(--head-color-text);
        text-decoration: none;
}