/* Header Centering */
h1 {
    text-align: center;
}

/* Main create review section */
form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.name-section {
    text-align: center;
    margin: 1%;
    padding-bottom: 1%;
}

.business-review {
    border: 5px solid var(--off-black);
    margin: auto;
    margin: 1%;
    padding: 1%;
    width: 100%;
    text-align: left;
}

.subheading {
    border: 5px solid var(--haint-blue) ;
    padding: 2%;
    margin: auto;
}

.subheading div {
    padding: 1%;
}

.subheading textarea {
    vertical-align: top;
}

.subheading p {
    text-align: center;
}

#centered {
    text-align: center;
}

.subheading button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
    margin: auto;
}

.social-media {
    text-align: center;
    margin: 5%;
}

.subheading a:link, a:visited, a:active {
    text-decoration: 3px underline var(--haint-blue);
    color: var(--off-black);
}

.subheading a:hover {
    background-color: var(--off-black);
    color: var(--star-white);
    padding: 1%;
}

/* .highlight {
    background-color: var(--main-black);
    color: var(--head-color-text);
    margin-top: 5%;
    padding: 2%;
    text-decoration: underline;
}

body {
    font-size: 2rem;
}

.intro-form select, .review-info select {
    font-size: 1.5rem;
}

h1 {
    text-align: center;
}

.overall-create {
    margin: 3%;
    padding: 3%;
    border-style: solid;
    border-color: var(--main-red);
    border-width: 5px;
}

.intro-form label {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.intro-form input[type=text] {
    width: 30%;
    padding: 1%;
}

.review-info {
    background-color: var(--main-black);
    color: var(--head-color-text);
    border: 5px solid var(--main-green);
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.review-info input[type=text], textarea {
    font-size: 2rem;
    padding: 1%
}

.review-info label {
    padding: 1%;
}

.review-submit {
    display: flex;
    justify-content: center;
}

.review-submit button {
    background-color: var(--main-green);
    color: var(--head-color-text);
    font-family: var(--body-font);
    padding: 1%;
    font-size: 1.5rem;
}

.agreement {
    text-align: center;
}

.social-media {
    text-align: center;
}

main a:link, 
    main a:visited {
        color: var(--main-red);
        text-decoration: none;
}

main a:hover,
    main a:active {
        font-size: 110%;
        background-color: var(--main-green);
        color: var(--head-color-text);
        text-decoration: none;
} */