/* Header and Button */
h1 {
    text-align: center;
}

.heading button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
    margin: auto; 
}

#centered-v1 {
    text-align: center;
    margin-bottom: 2%;
}

/* Main create review section */
form {
    width: 100%;
}

.name-section {
    text-align: center;
    margin: 1%;
    padding-bottom: 1%;
}

.business-review {
    border: 5px solid var(--off-black);
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    width: 95%;
    text-align: left;
}

.business-section {
    border: 5px solid var(--haint-blue);
    margin: 2%;
    padding: 1%;
}

.business-section div {
    padding: 1%;
}

.subheading {
    border: 5px solid var(--haint-blue) ;
    padding: 1%;
    margin: 2%;
}

.subheading div {
    padding: 1%;
}

textarea {
    vertical-align: top;
}

.subheading p {
    text-align: center;
}

#centered-v2 {
    text-align: center;
}

.subheading button {
    border: none;
    font-family: var(--body-font);
    font-size: 1.1rem;
    background-color: var(--haint-blue);
    padding: 1%;
    margin: auto;
}

.social-media {
    text-align: center;
    margin: 5%;
}

.subheading a:link, a:visited, a:active {
    text-decoration: 3px underline var(--haint-blue);
    color: var(--off-black);
}

.subheading a:hover {
    background-color: var(--off-black);
    color: var(--star-white);
    padding: 1%;
}
