body {
    font-size: 2rem;
}

.container-login {
    margin: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--main-red);
}

.container-login h1 {
    text-align: center;
    padding-top: 2%;
}

.container-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 2%;
}

.container-login form {
    display: inline-block;
    width: 50%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.container-login-create {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.container-login-form p {
    text-align: center;
}

.container-login button {
    background-color: var(--main-green);
    color: var(--head-color-text);
    font-family: var(--body-font);
    padding: 5px;
    margin: 2%;
}

.container-login h2{
    text-align: center;
}

.container-login label, input[type=text], input[type=password] {
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    width: 60%;
}

.forgot-remember {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.remember {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 5%;
}

.signupButton {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 5%;
}

.container-login a:link, 
    .container-login a:visited {
        color: var(--main-red);
        text-decoration: none;
}

.container-login a:hover,
    .container-login a:active {
        font-size: 110%;
        background-color: var(--main-black);
        color: var(--head-color-text);
        text-decoration: none;
}
